@model ProjectForHealing.ViewModels.UnassocViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


    <form enctype="multipart/form-data" asp-controller="Admin" asp-action="AddUnassocResource" method="post">

        <div class="container">

            <h1>Create New Resource</h1>
            <hr>

            <div class="row">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Resource Title</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Description</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <div class="custom-file">
                            <input asp-for="UploadedFile" class="form-control custom-file-input" type="file" name="UploadedFile" />
                            <label class="custom-file-label">Choose File....</label>
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Create Resource" class="btn btn-primary" />
            </div>
            <div class="col-md-4 m-0 m-auto">




                @section Scripts{
                    <script type="text/javascript">
                        $(document).ready(function () {
                            //selecting html element with custom file input class
                            //changing text when file name changes
                            $('.custom-file-input').on("change", function () {
                                //  var fileName = $(this).val.().split("\\").pop();
                                var fileName = $(this).next('input[type=file]').val().split('\\').pop();
                                $(this).next('.custom-file-label').html(fileName);

                            })
                        });
                    </script>
                }

            </div>
        </div>
    </form>

