@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

<h1>Hello @ViewBag.name</h1>

<h1>Phone Number: @ViewBag.number</h1>
<h1>Email: @ViewBag.email</h1>
<h1>Role: @ViewBag.role</h1>

<ul>
    <li><a href="#">content</a></li>
    <li><a href="/Admin/ResourceManage">Edit Resources</a></li>
    <li><a href="/Admin/Remove">Delete/Approve Resources</a></li>
    @if (Context.Session.GetString("role") == "Master Admin")
    {
        <li><a href="/Admin/AddEditor">Create New Admin</a></li>
    }

</ul>

