@model ProjectForHealing.Models.Resource
@{
   
}

    <div class="w-50 m-0 m-auto text-center">
        <h1>@Model.OrgName</h1>

        <p>@Model.OrgDescription</p>

        <h1>@Model.OrgEmail</h1>
        <h1>@Model.WebsiteUrl</h1>

    </div>

   

