@{
    ViewData["Title"] = "About Us";
}

    <div class="container middlebody" style="width: 100%;">
        <div class="jumbotron text-xl-center" style="background:white; background-size:cover;">

            <h1 class="display-3"><img src="~/Images/Neighborly-logo.png " alt="Neighborly" style="width:60%;height:25%;"></h1>
            <h2 style="text-align:left;">About</h2>
            <p style="text-align:left;" class="lead">
                Neighborly is a crowdsourcing-based resource guide created by Project for Healing, Inc. and
                WeaveTales to help immigrants, refugees, and low-income families in Northeast Florida better
                navigate the resources available in their areas. Neighborly features the locations and information
                on providers of core services such as food, housing, and legal aid. The website is accessible through
                a direct URL: <a href="http://neighborlyguide.org" target="_blank">neighborlyguide.org</a>​ or <a href="http://neighborly.guide" target="_blank">​neighborly.guide​.</a>
            </p>
            <p style="text-align:left;" class="lead">
                Neighborly runs on information crowdsourced by the users and service providers. The website has a submission link where users
                and service providers can add information. Our staff at WeaveTales screen all submissions on a regular basis and publish them online.
                If needed, the person submitting the information or the service providers is contacted to ensure the accuracy and quality of the information
                on the website before making it public. Some of these screening and approval processes take place at the monthly online or offline user meetings
                that WeaveTales hosts. Anyone interested in using or currently using Neighborly is welcome to join the meeting. The dates and locations
                of the meetings may vary each month and are posted on <a href="https://weavetales.org/events" target="_blank">our events calender</a> and
                our <a href="https://twitter.com/neighborlyguide" target="_blank">Twitter</a> @@neighborlyGuide.
            </p>
            <p style="text-align:left;" class="lead">To learn more about Neighborly, please contact us at (904) 990-4821 or <a href="mailto:basma@weavetales.org"> basma@weavetales.org</a>. You can also contact us via <a href="https://weavetales.org/contact-1" target="_blank">website</a></p>
            <hr class="my-4">
            <h2 style="text-align:left;">History</h2>
            <p style="text-align:left;" class="lead">
                Against the backdrop of drastic budget cuts at the federal level since 2017, immigrant and refugee communities, as well as many low-income families,
                have been gradually turned away from various social services that have helped their successful integration to the American society for the past two
                generations. Unfortunately, Jacksonville and Northeast Florida have been no exception to this growing challenge. The lack of access to adequate services
                reportedly led to a number of newcomers and low-income households falling victim to scams and unethical business practices over the years.
            </p>
            <p style="text-align:left;" class="lead">
                In April 2019, Christine Rothberg and Basma Alawee met at a regular Refugee Taskforce Meeting and began compiling a list of trusted and welcoming resources
                in the local area to address the challenge. The initial idea was to draft up a list that fits on a single-page document; over the next few months, however,
                more volunteers joined the effort and the list quickly expanded. Eventually, a group of students from the University of North Florida (UNF) volunteered to
                turn the list into an online database that can be visualized on a publicly accessible map for easy use. In January 2020, WeaveTales was officially appointed
                to manage, maintain, and update the database. Since then, WeaveTales has worked with UNF students to improve the system ahead of the official launch and continues to manage the website.
            </p>
            <p style="text-align:left;" class="lead">
                To learn more about WeaveTales, the managing entity of Neighborly, click <a href="https://weavetales.org/what-we-do" target="_blank">here</a>.
            </p>

        </div>
    </div>