@model ProjectForHealing.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "EditorLogin";
}

<h1>EditorLogin</h1>

<form action="/" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Email" type="email" name="email" value="" />
    <span asp-validation-for="Email"></span>

    <input asp-for="password"type="password" name="password" value="" />
    <span asp-validation-for="password"></span>
    <input asp-for="RememberMe" type="checkbox" name="RememberMe" value="" />
    <input type="submit" value="Login" />

</form>

