@model ProjectForHealing.Models.Education

@{
    ViewData["Title"] = "EducationView";
}


    <div class="container m-0 m-auto">
        <h1>@Model.Country</h1>
        <hr />
        @if (Model.PhotoPath != null)
        {
            <img src="~/EducationPictures/@Model.PhotoPath" alt="Alternate Text" />
        }
        <p class="text-center">@Model.Description</p>

        @if (Model.FilePath != null)
        {
            @Html.ActionLink("View Files", "OpenFile", new { path = "EducationFiles/" + Model.FilePath }, new { @class = "btn btn-primary btn-lg" })
        }

    </div>

                        <a asp-action="EducationIndex">Back to List</a>
                        <div>
 
                        
</div>
