@{
    ViewData["Title"] = "Welcome";
}
    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
        </div>

        <form class="form-inline md-form mr-0 mr-auto mb-4">
            <h1 class="text-center d-block w-100"> Search for a resource</h1>
            <div class="text-center w-100">
                <input class="form-control d-inline-block" type="text" placeholder="Search" aria-label="Search">
                <input class="form-control d-inline-block" type="text" placeholder="Zip code" aria-label="Zip code">
                <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
            </div>

        </form>
        </div>