@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<form class="form-inline md-form mr-0 mr-auto mb-4">
    <h1 class="text-center d-block w-100"> Search for a resource</h1>
    <input class="form-control d-block " type="text" placeholder="Search" aria-label="Search">
    <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
</form>
