@{
    ViewData["Title"] = "Welcome";
}

<div id="mapDiv" class="container" style="display: inline-block; height: 30%; width: 35%;"></div>

<div class="jumbotron">
    <h1 class="display-3">Project For Healing, Inc.</h1>
    <p class="lead">
        Project for Healing, Inc offers counseling services in four locations, psychoeducation classes, behavioral case management,
        psychiatric support services, medication management and group treatment.
        Two licensed social workers, specially trained in refugee mental health care, provide over 500 sessions annually
    </p>
    <p class="lead">Our aim is for all North Florida refugees to have healthy, happy lives..</p>
    <hr class="my-4">
    <p>Project For Healing has collaborations between many refugee resettlement agencies, you can look at the map or click the resource tab to find the right one for you.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Resource</a>
        <a class="btn btn-primary btn-lg" href="https://projectforhealing.org/about/" role="button">Learn more about PFH</a>

    </p>
</div>
<div class="container mt-2" id='map' style="height: 550px;"></div>
<div id="legend"><h3>Legend</h3></div>
<div class="container mt-lg-5 mb-lg-5" id="categories" style="display:flex; width:100%; margin:auto;"></div>

@section Scripts    {
    <script type="text/javascript">
        var markers = [];
        var map, infoWindow;
        function toggleMarker(element, type) {
            var on = element.checked;
            for (var i = 0; i < markers.length; i++) {
                if (markers[i].type == type) {
                    markers[i].marker.setMap(on ? map : null);
                }
            }
        }

        function initMap() {
            $(document).ready(function () {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 13
                });
                infoWindow = new google.maps.InfoWindow;
                // Try HTML5 geolocation.
                if (!navigator.geolocation) {
                    handleLocationError(false, infoWindow, map.getCenter());
                    return;
                }
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
                function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                    infoWindow.setPosition(pos);
                    infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
                    infoWindow.open(map);
                }

                var icons = {
                    housing: {
                        name: 'Housing',
                        icon: 'fas fa-home'
                    },
                    esol: {
                        name: 'ESOL',
                        icon: 'fas fa-language'
                    },
                    volunteering: {
                        name: 'Volunteering',
                        icon: 'fas fa-people-carry'
                    },
                    disablility: {
                        name: 'Disablility Services',
                        icon: 'fab fa-accessible-icon'
                    },
                    pfh: {
                        name: 'PFH',
                        icon: 'fab fa-hire-a-helper'
                    },
                    children: {
                        name: 'Children',
                        icon: 'fas fa-baby-carriage'
                    },
                    employment: {
                        name: 'Employment',
                        icon: 'fab fa-wordpress-simple'
                    },
                    medical: {
                        name: 'Medical',
                        icon: 'fas fa-ambulance'
                    },
                    dental: {
                        name: 'Dental Health',
                        icon: 'fas fa-tooth'
                    },
                    mental: {
                        name: 'Mental Health',
                        icon: 'fas fa-brain'
                    }
                };
                function addMarker(feature) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: 'Name: <br>Address: <br>Link:'
                    });
                    var marker = new google.maps.Marker({
                        position: feature.position,
                        map: map,
                        title: icons[feature.type].name,
                        label: {
                            fontFamily: 'Fontawesome',
                            text: '\uf299'
                        }
                    });
                    marker.addListener('click', function () {
                        infoWindow.open(map, marker);
                    });
                    markers.push({
                        marker: marker,
                        type: feature.type
                    });
                }
                var features = [
                    {
                        position: new google.maps.LatLng(30.332630, -81.664250),
                        type: 'housing'
                    }, {
                        position: new google.maps.LatLng(30.328930, -81.655520),
                        type: 'esol'
                    }, {
                        position: new google.maps.LatLng(30.352270, -81.652700),
                        type: 'volunteering'
                    }, {
                        position: new google.maps.LatLng(30.260620, -81.623280),
                        type: 'pfh'
                    }, {
                        position: new google.maps.LatLng(30.282250, -81.601870),
                        type: 'children'
                    }
                ];
                for (var i = 0, feature; feature = features[i]; i++) {
                    addMarker(feature);
                }
                var legend = document.getElementById('legend');
                var categories = document.getElementById('categories');
                var i = 0;
                for (var key in icons) {
                    var type = icons[key];
                    var name = type.name;
                    var icon = type.icon;
                    var div = document.createElement('div');
                    var cdiv = document.createElement('div');
                    div.innerHTML = '<i class=" ' + icon + ' fa-lg"></i>' + "  " + name;
                    cdiv.className = "container ";
                    cdiv.innerHTML = '<i class=" ' + icon + ' fa-4x" style="color:#2780E3;"></i><br><h4>' + name + '</h4>';
                    cdiv.className = "container text-center";
                    legend.appendChild(div);
                    categories.appendChild(cdiv);
                }
                map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHRMZHAXLXAuowcxyVA_fHwxRDqaqjX8k&callback=initMap"></script>
}





