@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div id="mapDiv" class="container" style="display: inline-block; height: 30%; width: 35%;"></div>

<div class="container" id='map' style="height: 550px;"></div>
<div id="legend"><h3>Legend</h3></div>

@section Scripts    {
    <script type="text/javascript">
        function initMap() {
            $(document).ready(function () {
                var map, infoWindow;

                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 11
                });
                infoWindow = new google.maps.InfoWindow;

                // Try HTML5 geolocation.

                if (!navigator.geolocation) {
                    handleLocationError(false, infoWindow, map.getCenter());
                    return;
                }

                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
              

                function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                    infoWindow.setPosition(pos);
                    infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
                    infoWindow.open(map);

                };

                var iconBase = './Images/';
                var icons = {
                    housing: {
                        name: 'Housing',
                        icon: iconBase + 'Housing1.png'
                    },
                    esol: {
                        name: 'ESOL',
                        icon: iconBase + 'ESOLEducation111.png'
                    },
                    volunteering: {
                        name: 'Volunteering',
                        icon: iconBase + 'Volunteering.png'
                    },
                     pfh: {
                        name: 'PFH',
                        icon: iconBase + 'PFH.png'
                    },
                     children: {
                        name: 'Children',
                        icon: iconBase + 'Children.png'
                    }
                };

                var features = [
                    {
                        position: new google.maps.LatLng(30.332630, -81.664250),
                        type: 'housing'
                    }, {
                        position: new google.maps.LatLng(30.328930, -81.655520),
                        type: 'esol'
                    }, {
                        position: new google.maps.LatLng(30.352270, -81.652700),
                        type: 'volunteering'
                    }, {
                        position: new google.maps.LatLng(30.260620, -81.623280),
                        type: 'pfh'
                    }, {
                        position: new google.maps.LatLng(30.282250, -81.601870),
                        type: 'children'
                    }
                ];

                features.forEach(function (feature) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: feature.type
                    });
                    var marker = new google.maps.Marker({
                        position: feature.position,
                        icon: icons[feature.type].icon,
                        map: map,
                        title: icons[feature.type].name
                    });
                    marker.addListener('click', function () {
                        infoWindow.open(map, marker);
                    });
                });

                var legend = document.getElementById('legend');
                    for (var key in icons) {
                        var type = icons[key];
                        var name = type.name;
                        var icon = type.icon;
                        var div = document.createElement('div');
                        div.innerHTML = '<img src="' + icon + '"> ' + name;
                        legend.appendChild(div);
                    }

                map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHRMZHAXLXAuowcxyVA_fHwxRDqaqjX8k&callback=initMap"></script>
}






