@model ProjectForHealing.Models.Admin

@{
    ViewData["Title"] = "Login";
}
   

        <head>
          
            <style type="text/css">
                body {
                    color: #f1f1f1;
                }

                .bslf {
                    width: 350px;
                    margin: 120px auto;
                    padding: 25px 20px;
                    box-shadow: 3px 3px 5px #3d3d3d;
                    border-radius: 5px;
                    color: #fff;
                }

                    .bslf h2 {
                        margin-top: 0px;
                        margin-bottom: 15px;
                        padding-bottom: 5px;
                        color: #000000;
                    }

                    .bslf a {
                        color: #1f79a6;
                    }

                        .bslf a:hover {
                            text-decoration: none;
                            color: #275987;
                        }
            </style>
        </head>
        <body>
            <div class="container middlebody">
                <div class="bslf">
                    @{Html.BeginForm("Login", "Home", FormMethod.Post); }

                    @Html.ValidationSummary()

                    <h2 class="text-center">CRMS Login</h2>
                    <h2>@ViewBag.Message</h2>
                    <div class="form-group">
                        @Html.TextBoxFor(i => i.UserName, new { placeholder = "Username", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(i => i.AdminPassWord, new { placeholder = "Password", @class = "form-control" })
                    </div>
                    <div class="form-group clearfix row justify-content-center">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <a href="#">Forgot Password?</a>
                        </div>                    
                    </div>
                    @{Html.EndForm();}
                </div>
                </div>
</body>
        