@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container middlebody" style="width: 100%;">
    <div class="jumbotron text-xl-center" style="background:white; background-size:cover;">

        <h1 class="display-3"><img src="~/Images/Neighborly-logo.png " alt="Neighborly" style="width:60%;height:25%;"></h1>
        <h2 style="text-align:left;font-weight:900">Privacy Policy</h2>
        <p style="text-align:left;font-size: 1.171875rem;">
            <b>We value your privacy.</b>  This page explains what we do with the information collected from you as you use Neighborly.
        </p>
        <h4 style="text-align:left;font-weight:900;">Privacy Notice</h4>
        <p style="text-align:left;" class="lead">
            This privacy notice shows the privacy practices for Neighborly. This privacy notice applies only to information collected by this website. This notice will tell you:
        </p>
        <ul>
            <li style="text-align:left;">What personal information is collected from you on this website</li>
            <li style="text-align:left;">How your personal information is used and shared</li>
            <li style="text-align:left;">The choices you have about how we use your information</li>
            <li style="text-align:left;">How we keep your information safe</li>
            <li style="text-align:left;">How you can tell us to delete, correct or change your information</li>
        </ul>
        <h4 style="text-align:left;font-weight:900;">Information Collection, Use and Sharing</h4>
        <p style="text-align:left;" class="lead">
            We only have information about you that you choose to give us in email or other direct contact. WeaveTales owns the information collected on this website.
            We do not give, sell or rent this information to any other person, organization, or website.
        </p>
        <h4 style="text-align:left;font-weight:900;">Non-personally Identifiable Information and Cookies</h4>
        <p style="text-align:left;" class="lead">
            When you use our website, it sometimes collects information that does not tell us your name or who you are
            (“non-personally identifiable information). This includes information such as your IP address and which web pages you visit.
        </p>
        <p style="text-align:left;" class="lead">
            We may also send cookies to your computer. “Cookies” are small text files sent to your computer and stored on its hard drive. Cookies help us recognize
            repeat visitors and which languages you prefer to read. Cookies track how you move around our website.
        </p>
        <p style="text-align:left;" class="lead">
            We use cookies and other non-personally identifiable information to make it easier for you to use our site. The information also tells us where our
            audience is in the world and which pages they visit most.
        </p>
        <h4 style="text-align:left;font-weight:900;">Contacting You and Responding To Your Requests</h4>
        <p style="text-align:left;" class="lead">
            When you contact us, we will use your information to answer you. We will not share your information with any third party outside WeaveTales unless we need to do so to fulfill your request.
        </p>
        <p style="text-align:left;" class="lead">
            Unless you ask us not to, we may contact you in the future.  We may email you to tell you about our new programs, fundraisers, updates to this privacy policy,
            or other news. You may ask us to stop contacting you at any time by emailing us at neighborly@weavetales.org.
        </p>
        <h4 style="text-align:left;font-weight:900;">Your Access To and Control Over Information</h4>
        <p style="text-align:left;" class="lead">
            You can email us at <a href="mailto:neighborly@weavetales.org"> neighborly@weavetales.org</a> to:
        </p>
        <ul>
            <li style="text-align:left;">See what information we have about you, if any</li>
            <li style="text-align:left;">Change, correct, or delete information we have about you</li>
            <li style="text-align:left;">Tell us about any concerns or questions you have about how we use your information</li>
        </ul>
        <h4 style="text-align:left;font-weight:900;">Security</h4>
        <p style="text-align:left;" class="lead">
            We are very careful with your information. When you send us personal information, it is protected both online and offline. A padlock in the address bar indicates that the web page you are viewing is safe.
        </p>
        <p style="text-align:left;" class="lead">
            If we collect sensitive information from you, that information is encrypted (put in code and sent to us in a safe way). Sensitive information includes credit card information
            that people give us to make donations to Neighborly or WeaveTales.
        </p>
        <p style="text-align:left;" class="lead">
            We also protect your information offline. Only our staff members who need information to perform a specific job can see your personal information.
        </p>
        <h4 style="text-align:left;font-weight:900;">Questions</h4>
        <p style="text-align:left;" class="lead">
            If you have any questions, or if you think we are not following this privacy policy, please email us at  <a href="mailto:neighborly@weavetales.org"> neighborly@weavetales.org</a>.
        </p>
        <p style="text-align:left;font-weight:900;" class="lead">
            Note: If our privacy policy changes, we will update this page. But this policy will still apply to any information you gave us before the policy change.
        </p>
    </div>
</div>