@{

}

<div class="text-center">
    <h1 class="display-4">Resource Management</h1>
    </div>

<table class="table">

    <div class="text-center">
        <h2 class="">Resources Awaiting Approval</h2>
    </div>
    <thead>
        <tr>
            
            <th scope="col">Organization</th>
            <th scope="col">Representative</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Type of Work</th>
            <th scope="col">Description</th>
            <th scope="col">Website</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col"><input type="checkbox" name="name" value="" /></td>
            <td>Florida Blue</td>
            <td>John Smith</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
