@model ProjectForHealing.Models.Resource


@{
    ViewData["Title"] = "Resource Form";
}

<div class="text-center">
    <h1 class="display-4">Resource Form</h1>
    <p>
        If you would like to join Project For Healing as a resource for immagrants and refugees, please complete the application below
        and someone will get back with you as soon as possible.
    </p>
</div>

@{Html.BeginForm("ResourceForm", "Home", FormMethod.Post); }
 
@Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(i => i.Fname, "First Name")
        @Html.TextBoxFor(i => i.Fname, new { placeholder = "First Name", @class = "form-control" })
    
    </div>
    <div class="form-group">
        <label for="LName">Last Name</label>
        <input type="text" class="form-control" id="LName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="EmailAdd">Email address</label>
        <input type="email" class="form-control" id="EmailAdd" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="PhoneNum">Phone Number</label>
        <input type="text" class="form-control" id="PhoneNum" placeholder="Phone Number">
    </div>
    <div class="form-group">
        <label for="Organization">Organization</label>
        <input type="text" class="form-control" id="Organization" placeholder="Organization">
    </div>
    <div class="form-group">
        <label for="webLink">Link</label>
        <input type="text" class="form-control" id="webLink" placeholder="Link to Your Organizations Website">
    </div>
    <label>Type of Work Your Organization Provide</label>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="MentalHealth">
            Mental Health
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="SocialWork">
            Social Work
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="FinancialAssistance">

        </label>
    </div>
    <div class="form-group">
        <label for="Services">Services Provided</label>
        <textarea class="form-control" rows="3" id="Services"> What services/resources can you provide to immigrants in need? Any extra services you can proved?</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
@{Html.EndForm();}
