@model ProjectForHealing.ViewModels.AddResourceViewModel

@{
    ViewData["Title"] = "View";
}
<div class="container middlebody">
    <h1>Create New Resource</h1>

    <div class="container">
        <form enctype="multipart/form-data" asp-controller="Resource" asp-action="Add" method="post">

            @*<div asp-validation-summary="All"></div>*@

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="OrgName" class="control-label"></label>
                        <input asp-for="OrgName" class="form-control" />
                        <span asp-validation-for="OrgName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="OrgEmail" class="control-label"></label>
                        <input asp-for="OrgEmail" class="form-control" />
                        <span asp-validation-for="OrgEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="OrgNumber" class="control-label"></label>
                        <input asp-for="OrgNumber" class="form-control" />
                        <span asp-validation-for="OrgNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="WebsiteUrl" class="control-label"></label>
                        <input asp-for="WebsiteUrl" class="form-control" />
                        <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="OrgAddress" class="control-label"></label>
                        <input asp-for="OrgAddress" class="form-control" oninput="window.getCoordinates();" />
                        <span asp-validation-for="OrgAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="OrgCity" class="control-label"></label>
                        <input asp-for="OrgCity" class="form-control" />
                        <span asp-validation-for="OrgCity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="OrgZip" class="control-label"></label>
                        <input asp-for="OrgZip" class="form-control" />
                        <span asp-validation-for="OrgZip" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="OrgSte" class="control-label"></label>
                        <input asp-for="OrgSte" class="form-control" />
                        <span asp-validation-for="OrgSte" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="OrgDescription" class="control-label"></label>
                        <textarea asp-for="OrgDescription" class="form-control"> </textarea>
                        <span asp-validation-for="OrgDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-5">
                    <div class="form-group">
                        <label asp-for="UploadedFile" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="UploadedFile" class="form-control custom-file-input" type="file" name="UploadedFile" />
                            <label class="custom-file-label">Choose File....</label>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="mt-2">What type of services do you provide?</h4>

            <div class="row">
                <div class="col">
                    <input type="checkbox" name="ResourceTypes" value="adult education" onclick="return ValidateSelection();"> Adult Education<br>
                    <input type="checkbox" name="ResourceTypes" value="affordable health Care" onclick="return ValidateSelection();"> Affordable Health Care<br>
                    <input type="checkbox" name="ResourceTypes" value="financial & " onclick="return ValidateSelection();"> Financial & Material Aid<br>
                    <input type="checkbox" name="ResourceTypes" value="shelter" onclick="return ValidateSelection();"> Crisis Hotline<br>
                    <input type="checkbox" name="ResourceTypes" value="disabilities" onclick="return ValidateSelection();"> Food & Meals<br>
                    <input type="checkbox" name="ResourceTypes" value="food" onclick="return ValidateSelection();"> Ethnic Organization<br>
                    <input type="checkbox" name="ResourceTypes" value="trafficking" onclick="return ValidateSelection();"> Housing & Real Estate<br>
                    <input type="checkbox" name="ResourceTypes" value="socialsecurity" onclick="return ValidateSelection();"> Legal & Immigration Services<br>
                    <input type="checkbox" name="ResourceTypes" value="children" onclick="return ValidateSelection();"> Natural Disasters<br>
                </div>
                <div class="col">
                    <input type="checkbox" name="ResourceTypes" value="employment" onclick="return ValidateSelection();"> Youth & Child Education<br>
                    <input type="checkbox" name="ResourceTypes" value="counseling" onclick="return ValidateSelection();"> Mental Health & Substance Use<br>
                    <input type="checkbox" name="ResourceTypes" value="shelter" onclick="return ValidateSelection();"> Tax & Accounting<br>
                    <input type="checkbox" name="ResourceTypes" value="medical" onclick="return ValidateSelection();"> Public Safety<br>
                    <input type="checkbox" name="ResourceTypes" value="clothing" onclick="return ValidateSelection();"> Transportation<br>
                    <input type="checkbox" name="ResourceTypes" value="clothing" onclick="return ValidateSelection();"> Faith & Religion<br>
                    <input type="checkbox" name="ResourceTypes" value="financial" onclick="return ValidateSelection();"> Social Security<br>
                    <input type="checkbox" name="ResourceTypes" value="education" onclick="return ValidateSelection();"> Funeral & Afterlife Services<br>
                    <input type="checkbox" name="ResourceTypes" value="food" onclick="return ValidateSelection();"> Translation & Language Assistance<br>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-9 border-top border-secondary">
                    <p style="font-size: small;">
                        <br>
                        Neighborly was created and is run by WeaveTales to provide the most up-to-date, accurate, and reliable
                        information on local resources to newcomers and residents in need through an easy-to-use, online
                        platform. WeaveTales reserves the right, in our sole discretion, to change, modify, add or delete all
                        or portions of your or your entity’s information on Neighborly without any notice to protect the
                        integrity of the system. You acknowledge that the information you provide today is most recent and
                        accurate to the best of your knowledge and that you are not providing fabricated or false information
                        for the purpose of promoting you, your business or service. You understand that you or your business
                        entity may be contacted by WeaveTales for a request of certain information that can be used in their
                        regular evaluations of service providers registered registered with the system for quality control and
                        that you will provide the requested information to maintain Neighborly in its best condition and help
                        users find the right service providers for their needs.
                    <p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-10">
                    <input type="checkbox" name="agreed" value="Agreed" onclick="" /> I have read and agree to the terms listed above.<br>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <input type="submit" value="Submit Form" class="btn btn-primary" onclick="return window.getCoordinates();" />
                </div>
            </div>

            <div class="row" id="hiddens">
                <input asp-for="lat" type="hidden" class="form-control" readonly />
                <input asp-for="lng" type="hidden" class="form-control" readonly />
            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="form-group">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
            @section Scripts{
                <script type="text/javascript">
                        $(document).ready(function () {
                            //selecting html element with custom file input class
                            //changing text when file name changes
                            $('.custom-file-input').on("change", function () {
                                //  var fileName = $(this).val.().split("\\").pop();
                                var fileName = $('input[type=file]').val().split('\\').pop();
                                $(this).next('.custom-file-label').html(fileName);
                            })
                        });

                        function initMap() {
                            // Google maps are now initialized.


                            geocoder = new google.maps.Geocoder();

                            window.getCoordinates = function () {
                                var address = document.getElementById('OrgAddress').value;
                                var coordinates;
                                geocoder.geocode({ 'address': address }, function (results, status) {
                                    if (status == 'OK') {
                                        /* map.setCenter(results[0].geometry.location);
                                            var marker = new google.maps.Marker({
                                                map: map,
                                                position: results[0].geometry.location
                                            });*/
                                        coordinates = results[0].geometry.location;
                                        // [coords_obj.lat.Scopes.b, coords_obj.lat.Scopes.a];
                                        // console.log(coordinates.lat(), coordinates.lng());
                                        document.getElementById('lat').value = coordinates.lat();
                                        document.getElementById('lng').value = coordinates.lng();
                                    } else {
                                        alert('Geocode was not successful for the following reason: ' + status);
                                    }
                                });
                            }

                        }
                        function ValidateSelection() {
                            var checkboxes = new Array(3);
                            checkboxes = document.getElementsByName("ResourceTypes");
                            var numberOfCheckedItems = 0;
                            for (var i = 0; i < checkboxes.length; i++) {
                                if (checkboxes[i].checked)
                                    numberOfCheckedItems++;
                            }
                            if (numberOfCheckedItems > 3) {
                                alert("You can't select more than 3 Resources!");
                                return false;
                            }
                        }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHRMZHAXLXAuowcxyVA_fHwxRDqaqjX8k&callback=initMap"
                        async defer></script>
            }
        </form>
    </div>
</div>


